h1,h2{
	color: blue;
	font-size: 50px;
}
#unico{

	color: green;
	font-size: 10px;


}
.azul{

	color: purple;

}
.fondo{

	background: burlywood;

}

h2 {
	font-size: 14px;
}

p {	
	color: rgb(32,32,32);
	text-align: left;
}
p a {
	text-decoration:underline;
}

p.text-izq {
	text-align: left;
}
